.menubar
	{
		background-color: #3297d1;
	}
.delete_buttons
	{
		background-color: #324ad1;
		border: none;
		color: white;
  		padding: 15px 15px;
 		text-align: center;
  		display: inline-block;
  		margin: 4px 2px;
		cursor: pointer;
  		font-size: 16px;
	}
.delete_buttons:hover
	{
		background-color: #0622bf;
	}
.menu_form
	{
		text-align: center;
		font-family: Candara Light;
		color: white;
		font-size: 24pt;
	}
.actual_username
	{
		width: 50%;
  		padding: 12px 20px;
  		margin: 8px 0;
  		box-sizing: border-box;
		background-color: #0684bf;
	}
.new_username
	{
		width: 50%;
  		padding: 12px 20px;
 		margin: 8px 0;
  		box-sizing: border-box;
		background-color: #0a4e6e;
	}
.actual_password
	{
		width: 50%;
  		padding: 12px 20px;
 		margin: 8px 0;
  		box-sizing: border-box;
		background-color: #0f4efc;
	}
.new_password
	{
		width: 50%;
  		padding: 12px 20px;
  		margin: 8px 0;
  		box-sizing: border-box;
		background-color: #072c91;
	}
.generic_buttons
	{
		border: none;
		color: white;
  		padding: 15px 15px;
 		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		margin: 4px 2px;
  		font-size: 16px;
		background-color: #2ca7c9;
		cursor: pointer;
	}
.generic_buttons:hover
	{
		background-color: #36d3ff;
	}
body
	{
		background-color: #2e1b8c;
		margin: 0;
		overflow-y: scroll;
		overflow-x: hidden;
	}
table
	{
		width: 100%;
		border-collapse: collapse;
	}
.cells
	{
		font-family: Candara Light;
		border: 5px solid #2e1b8c;
		border-spacing:15px;
	}
select, option
	{
  		width: 50%;
  		padding: 12px 20px;
  		margin: 8px 0;
  		box-sizing: border-box;
		background-color: #5836ff;
	}
.file_sub
	{
		background-color: orange;
		padding: 12px 20px;
	}
#delete
	{
		background-color: red;
	}
#download
	{
		background-color: blueviolet;
		cursor: context-menu;
	}
#status
	{
		background-color: forestgreen;
		cursor: context-menu;
	}
#delete:hover
	{
		background-color: crimson;
	}